include ../../components/type/type

mixin card(items)
  ul.feed__cards.grid
    each item in items ? items : []
      li.feed__card
        if (item.type === "audio")
          .feed__img.feed__img-audio
            p.feed__img-audio_sound
            img.feed__pic.feed__pic-audio(
              src=`../../../public/img/card/${item.img}`,
              alt=`${item.altText}`
            )
            p.feed__img-audio_bg

        else
          .feed__img
            img.feed__pic(
              src=`../../../public/img/card/${item.img}`,
              alt=`${item.altText}`
            )

        .feed__card_container
          +typeContent(item)

          h2.feed__title= `${item.text}`
          span.feed__subtitle= `${item.author}`
          span.feed__subtitle.feed__subtitle-point &#8226;
          time.feed__subtitle.feed__subtitle-date= `${item.date}`
