include ../user-avatar/user-avatar

mixin header  (user_role, notification_count, user_name, user_img)
  header.header
    .container
      .header__left-colm
        a.header__logo-link(href='index.html')
          img.header__icon(src='../../../public/img/icons/logo.svg' alt='Логотип сайта')
        nav.header__nav     
          ul.menu
            if user_role == 'contentMaker'
              -
                var menu = {
                  index: 'Главная',
                  tasks: 'Задача'
                }
            else 
              -
                var menu = {
                  index: 'Главная',
                  tasks: 'Задача',
                  users: 'Пользователи'
                }

            each value, key in menu 
              li.menu__item
                a.menu__link(href= key +'.html')= value

      .header__right-colm
        -var classes=['notification']
      
        if page=='Уведомления'
          -var classes=['notification','notification_active']
    
        a(class=classes href= '#')
          svg.notification__bell-icon
            use(xlink:href='../../../public/img/icons/header-sprite.svg#bell')
          
          if notification_count < 1
            -var classes=['notification__new-area', 'label']
          else 
            -var classes=['notification__new-area', 'label', 'notification_new']
  
          div(class=classes)
            span.notification__new-message= notification_count
        
        .user
          span.user__name= user_name
          button.user__button
            +avatar('small')
            svg.user__open-menu
              use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
          .user-menu
            ul.user-menu__list
              li.user-menu__item
                a.user-menu__link(href='#') Профиль
              li.user-menu__item
                a.user-menu__link(href='#') Выход