-
  const status = {
    'in-work': 'В работе', 
    feedback: 'Ожидает согласования', 
    approved: 'Выполнено' 
    }
-
  const role = {
    admin: 'Администратор',
    manager: 'Менеджер',
    contentMaker: 'Контент-мейкер'
  }
-
  const type = {
    video: 'Видео',
    photo: 'Фото',
    audio: 'Аудио'
  }
-
  const user = {
    1: 'София Мельник',
    2: 'София Мельник',
    3: 'София Мельник',
    4: 'София Мельник',
    5: 'София Мельник',
    6: 'София Мельник',
    7: 'София Мельник',
    8: 'София Мельник',
    9: 'София Мельник',
    10: 'София Мельник',
    11: 'София Мельник',
    12: 'София Мельник',
    13: 'София Мельник',
    14: 'София Мельник',
    15: 'София Мельник',
    16: 'София Мельник'
  }

mixin select-status
  .search__container.search__container_status
    p.select-text.label Статус
    div.select-box
      input.select.select-status(name="" placeholder="Выберите статус" readonly)
      svg.select__btn
        use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
      div.select__option
        ul.select__list
          li.select__item(data-value="all") Любой
          each value, key in status
            li.select__item.select-status__item(class="select-status__item_"+key data-value= key)= value


mixin select-role
  .search__container.search__container_role
    p.select-text.label Роль
    div.select-box
      input.select.select-role(name="" placeholder="Выберите роль" readonly)
      svg.select__btn
        use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
      div.select__option
        ul.select__list
          each value, key in role
            li.select__item.select-role__item(data-value= key)= value

mixin select-user-author
  .search__container.search__container_user
    p.select-text.label Инициатор
    div.select-box
      input.select.select-user(name="author" placeholder="Выберите инициатора" readonly)
      svg.select__btn
        use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
      div.select__option
        ul.select__list
          each value, key in user
            li.select__item.select-user__item(data-value= key)= value

mixin select-user-executor
  .search__container.search__container_user
    p.select-text.label Ответственный
    div.select-box
      input.select.select-user(name="executor" placeholder="Выберите ответственного" readonly)
      svg.select__btn
        use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
      div.select__option
        ul.select__list
          each value, key in user
            li.select__item.select-user__item(data-value= key)= value

mixin select-type
  .search__container.search__container_type
    p.select-text.label Тип контента
    div.select-box
      input.select.select-type(name="executor" placeholder="Выберите тип контента" readonly)
      svg.select__btn
        use(xlink:href='../../../public/img/icons/header-sprite.svg#menu')
      div.select__option
        ul.select__list
          each value, key in type
            li.select__item.select-type__item(data-value= key)= value
