include ../icon/icon

mixin buttonProfile(img, name)
  button#profile-toggle.btn.btn__profile.nav__profile
    span.nav__profile_name= name
    img.nav__profile_img(
      src=`../../../public/img/profile/${img}.png`,
      alt="Аватар профиля"
    )
    span.nav__profile_arrow

mixin buttonOnInput(conf)
  case conf
    when "search"
      button(class!=attributes.class)
        +iconHref("search-icon", 13, 14).icon.icon_ghost

    when "close"
      button(class!=attributes.class)
        +iconHref("cross-icon", 10, 10).icon.icon_ghost

mixin buttonFilter(conf)
  label.btn__filter
    input.btn__filter-checkbox(type="checkbox")
    case conf
      when "video"
        span.btn.btn__filter-video.btn_checkbox
          +iconHref("video-icon", 10, 10).icon.icon_video
          | Видео
      when "photo"
        span.btn.btn__filter-photo.btn_checkbox
          +iconHref("photo-icon", 15, 10).icon.icon_photo
          | Фото
      when "audio"
        span.btn.btn__filter-audio.btn_checkbox
          +iconHref("audio-icon", 12, 10).icon.icon_audio
          | Аудио

mixin buttonNotification(count)
  a.btn.btn__notify.btn__link.nav__profile(href="#", aria-label="Уведомления")
    span.nav__notify
      +iconHref("icon-notify", 20, 24).icon-notify
    span.nav__notify-new= count

mixin buttonConfiguration(conf, items)
  case conf
    when "edit"
      button(class!=attributes.class)
        +iconHref("edit-icon", 20, 20).icon.icon_md

    when "delete"
      button(class!=attributes.class)
        +iconHref("delete-icon", 14, 16).icon.icon_md.icon_md-delete

    when "new-task"
      button(class!=attributes.class)
        +iconHref("plus-circle").icon.icon_primary.icon_plus.icon_edge
        span= `${items.title}`

    when "upload-icon"
      button(class!=attributes.class)
        +iconHref("upload-icon", 12, 12).icon.icon_edge
        span= `${items.title}`

    when "back"
      button(class!=attributes.class)
        +iconHref("back", 25, 11).icon.icon_back.icon_light

    when "delete-attachment"
      button(class!=attributes.class)
        +iconHref("delete-attachment", 14, 14).icon
