mixin button(className, mod, text)
      button(class=`${className} ${className}--${mod}`)
        svg(class=`icon icon--${mod}`)
          use(xlink:href=`../../../public/img/icons/icon.svg#${mod}-icon`)
        if text !== undefined
          span(class=`${className}-text ${className}-text--${mod}`)=(text ? text : "")

