include ../base/base
include ../../components/header/header
include ../../components/control/control
include ../../components/button/button
include ../../components/type/type
include ../../components/icon/icon

+header(adminViews, 1)

main.main
  .container.task
    ul.control__list.control__list-task.grid
      +control("search")
      +control("status", items)
      +control("deadline")
      +control("type")

    ul.task__subject
      li.task__btn-new
        +buttonConfiguration("new-task", {title:"Новая задача"}).btn.btn_primary

      each item in items
        li.task__card
          ul.task__list
            li.task__item
              section.task__content
                +typeContent({type: `${item.type}`, typeText: `${item.typeText}`}).type__task
                h2.task__title
                  a.btn.btn__task.fade(href="task.html")= `${item.text}`

              section.task__particle
                span.task__subtitle= `${item.author}`
                time.task__date(datetime=`${item.date}`)= `${item.shortDate}`
                span(class=`task__progress task__progress_${item.progress}`)= `${item.progressText}`

              section.task__btn-group
                +buttonConfiguration("edit").btn.btn_primary-trans.btn_edit-sm.btn__task-sm(
                  aria-label="Редактировать"
                )

                +buttonConfiguration("delete").btn.btn_primary-trans.btn_edit-sm.btn__task-sm(
                  aria-label="Удалить"
                )
