mixin cardsTasks(className, items)
  div(class="wrapper__cards")
    each item in items
      div(class=`${className}`)
        a(class=`${className}-wrapper` href="#")
          div(class=`${className}-wrapper__content`)
            include ../contentType/contentType
                +contentType("content__box", item)
            p(class=`${className}-descr__text`)=`${item.text}`
          div(class=`${className}-status`)
            span(class=`${className}-status__auth`)=`${item.author}`
            date(class=`${className}-status__due`)=`${item.date}`
            span(class=`${className}-status__text ${item.status}`)=`${item.statusText}`
          div(class=`${className}-buttons`)
              include ../buttons/buttons
              if `${item.btnCount}` === 'true'
                  +button("btn__kit","edit-small")
                  +button("btn__kit","delete-small")
              else
                  +button("btn__kit","delete-small")