include ../base/base
include ../../components/header/header
include ../../components/type/type
include ../../components/upload/upload

+header(adminViews)

main.main
  .container.task
    each item, index in items
      //- TODO: продумать условие
      //- if (index === items.author)
      ul.task__top-group
        li.task__btn
          a.btn.btn_trans.btn_inline(href="tasks.html")
            svg.icon.icon_back.icon_primary.icon_edge(width="25", height="11")
              use(xlink:href="../../../public/img/icons/icons.svg#back")
            span К списку задач
        li.task__btn.task__btn-group
          button.btn.btn_primary.btn_edit-sm.btn__task-sm(
            aria-label="Редактировать"
          )
            svg.icon.icon_md(width="20", height="20")
              use(xlink:href="../../../public/img/icons/icons.svg#edit-icon")
          button.btn.btn_primary.btn_edit-sm.btn__task-sm(aria-label="Удалить")
            svg.icon.icon_md.icon_md-delete(width="14", height="16")
              use(xlink:href="../../../public/img/icons/icons.svg#delete-icon")
      .task__main-group
        .task__main-content
          section.task__wrapper.task__wrapper-inner
            .task__caption
              +typeContent({type: `${item.type}`, typeText: `${item.typeText}`}).type_edge
              span(class=`task__progress task__progress_${item.progress}`)= `${item.progressText}`
            .task__info
              h2.task__info-title= `${item.text}`
              p.task__info-desc= `${item.desc}`
            .task__files
              h3.task__files-title Файлы
              ul.task__files-list
                each file, index in files
                  li.task__files-item
                    .task__files-content
                      +iconDocType(`${file.doctype}`).task__files-type
                      span.task__files-name= `${file.name}.${file.doctype}`
                      span.task__files-size= `${file.size} ${file.byte}`
                    +buttonConfiguration("upload-icon", {title:"Скачать"}).btn.btn__submit.btn_primary-trans.task__files-download

          section.task__wrapper
            .task__wrapper-inner
              .upload
                h3.upload__title Результат
                span.upload__subtitle Допустимые форматы:
                ul.upload__list-format
                  li.upload__item-format
                    span.upload__format avi
                  li.upload__item-format
                    span.upload__format flv
                  li.upload__item-format
                    span.upload__format mov

              +uploadFiles(items)

            .task__wrapper-inner
              form.upload__form(action="")
                textarea.upload__message(
                  name="message",
                  cols="30",
                  rows="10",
                  placeholder="Введите сообщение..."
                )
                button.btn.btn_primary.btn__submit.upload__message-btn Отправить

        aside.task__wrapper.task__wrapper-inner.task__sidebar
          ul.task__sidebar-list
            li.task__sidebar-item
              p.task__sidebar-title Задача создана
              span.task_underline
              time.task__sidebar-subtitle 05.02.2020
            li.task__sidebar-item
              p.task__sidebar-title Срок выполнения
              span.task_underline
              time.task__sidebar-subtitle 11.02.2020
            li.task__sidebar-item
              p.task__sidebar-title Опубликовал
              span.task_underline
              p.task__sidebar-subtitle Семён Щеглов
            li.task__sidebar-item
              p.task__sidebar-title Ответственный
              span.task_underline
              p.task__sidebar-subtitle Станислав Щукин
