mixin uploadFiles(items)
  ul.upload__files
    li.upload__file
      +buttonConfiguration("delete-attachment").btn.btn_reset.upload_close
      .upload__img
        img.upload__pic(
          src="../../../public/img/card/img1.jpg",
          alt=""
        )
    li.upload__file
      +buttonConfiguration("delete-attachment").btn.btn_reset.upload_close
      .upload__img
        img.upload__pic(
          src="../../../public/img/card/img2.jpg",
          alt=""
        )
    li.upload__file
      +buttonConfiguration("delete-attachment").btn.btn_reset.upload_close
      .upload__img
        img.upload__pic(
          src="../../../public/img/card/img3.jpg",
          alt=""
        )
    li.upload__file
      +buttonConfiguration("delete-attachment").btn.btn_reset.upload_close
      .upload__img.upload__img_empty
        +iconHref("plus-icon", 14, 14).upload__img_caption