mixin player(className, items)
        case `${items.type}`
          when "video" 
            div(class=`${className}__${items.type}`)
              div(class=`${className}__${items.type}-view`)
                video(class=`${className}__${items.type}-custom`)
                  source(class=`${className}-${items.type}__url` src=`${items.url}` type="video/mp4")
                div(class=`${className}__controls`)
                  div(class=`${className}__progress`)
                    progress(class=`${className}__progress--filled` min="0" value="0")
                    input(class=`${className}__track ${className}__track--${items.type}` type="range" min="1" max="100" value="0")
                  div(class=`${className}__buttons-container`)
                    div(class=`${className}-left__side`)
                      button(class=`${className}__btn-play` type="button")
                        svg(class=`icon icon--play not--pressed`)
                            use(xlink:href=`../../../public/img/icons/icon.svg#play-icon`)
                            use(class="hidden" xlink:href=`../../../public/img/icons/icon.svg#stop-icon`)
                      div(class=`${className}__controls-volume`)
                            button(class=`${className}__btn-volume btn__volume-high` type="button")
                              svg(class=`icon icon--volume not--pressed`)
                                  use(xlink:href=`../../../public/img/icons/icon.svg#volume-icon`)
                                  use(class="hidden" xlink:href=`../../../public/img/icons/icon.svg#muted-icon`)
                            div(class=`${className}__volume-box`)
                              input(class=`${className}__slider-volume ${className}__slider--${items.type}` type="range" name="volume" value="0.5" max="1" min="0" step="0.01")
                              progress(class=`${className}__progress-volume--filled` min="0" max="1" value="0.5")
                    div(class=`${className}-right__side`)
                      span(class=`${className}__time-codes`)
                        span(class=`${className}-time__code ${className}-time__code--current`) 00:00 / 
                        span(class=`${className}-time__code ${className}-time__code--duration`) 00:00
                      button(class=`${className}__btn-fullscreen btn-fullscreen` type="button")
                        svg(class=`icon icon--fullscreen not--pressed`)
                          use(xlink:href=`../../../public/img/icons/icon.svg#fullscreen-icon`)
                          use(class="hidden" xlink:href=`../../../public/img/icons/icon.svg#collapse-icon`)
          when "audio"
            div(class=`${className}__${items.type}`)
              div(class=`${className}__${items.type}-view`)
                audio(class=`${className}__${items.type}-custom`)
                  source(class=`${className}-${items.type}__url` src=`${items.url}` type="audio/mp3")
                div(class=`${className}__controls ${className}__controls--${items.type}`)
                  div(class=`${className}__buttons-container ${className}__buttons-container--${items.type}`)
                    div(class=`${className}__${items.type}-controls`)
                      button(class=`${className}__btn-play ${className}__btn-play--${items.type}` type="button")
                        svg(class=`icon icon--play not--pressed`)
                            use(xlink:href=`../../../public/img/icons/icon.svg#play-icon`)
                            use(class="hidden" xlink:href=`../../../public/img/icons/icon.svg#stop-icon`)
                      div(class=`${className}__progress ${className}__progress--${items.type}`)
                        progress(class=`${className}__progress--filled` min="0" value="0")
                        input(class=`${className}__track ${className}__track--${items.type}` type="range" min="1" max="100" value="0")
                    div(class=`${className}__controls-volume`)
                            button(class=`${className}__btn-volume btn__volume-high` type="button")
                              svg(class=`icon icon--volume not--pressed`)
                                  use(xlink:href=`../../../public/img/icons/icon.svg#volume-icon`)
                                  use(class="hidden" xlink:href=`../../../public/img/icons/icon.svg#muted-icon`)
                            div(class=`${className}__volume-box`)
                              input(class=`${className}__slider-volume ${className}__slider--${items.type}` type="range" name="volume" value="0.5" max="1" min="0" step="0.01")
                              progress(class=`${className}__progress-volume--filled` min="0" max="1" value="0.5")
                    span(class=`${className}__time-codes`)
                          span(class=`${className}-time__code ${className}-time__code--current`) 00:00/ 
                          span(class=`${className}-time__code ${className}-time__code--duration`) 00:00
          when "photo"
            div(class=`${items.type}`)
              div(class=`${items.type}-view`)
                  img(class=`${items.type}-custom` src=`${items.url}`, alt=`${items.typeText}`)