mixin input(className, mod, placeholder, name)
    form(class=`${className}`)
        case mod
          when "search"
            div(class=`${className}-box ${className}-box--${mod}` tabindex="0")
              input(class=`${className}-text ${className}-text--${mod}` type="text" id="search" placeholder="Введите название имя исполнителя" name="search")
              label(for="search" class=`${className}-label`) Поиск
              svg(class="icon icon--close")
                use(xlink:href="../../../public/img/icons/icon.svg#close-icon")
          when "calendar"
            div(class=`${className}-box ${className}-box--${mod}` tabindex="0")
              input(class=`${className}-text input__block-text--${mod}` type="text" id="date" placeholder="Укажите дату публикации" name="date")
              label(for="date" class=`${className}-label`) Дата публикации
          when "calendar-small"
            div(class=`${className}-box ${className}-box--${mod}` tabindex="0")
                input(class=`${className}-text input__block-text--${mod}` type="text" id="date" placeholder="Укажите дату" name="date")
                label(for="date" class=`${className}-label`) Срок выполнения
          default 
            input(class=`${className}-text` type="text" placeholder=`${placeholder}` id=`${name}`)
            label(for=`${name}` class=`${className}-label`) 