mixin notification(type, id, task, date, user="", status="" )
  li.notification-item
    a.notification-item__link(href="task.html?id="+id)
      -var classes = ""
      if status == "new"
        -classes='notification-item__content_new'
      
      div(class="notification-item__content "+ classes)
        .notification-item__img-box(class="notification-item__img-box_"+type)
          svg(class="notification-item__img")
            use(xlink:href="../public/img/icons/type-sprite.svg#"+type)
        .notification-item__info 
          -var text=""
          if (type=="comment")
            p.notification-item__text Новый комментарий в задаче 
              span.notification-item__text_bold= task
          else 
            if (type=="content")
              p.notification-item__text
                span.notification-item__text_bold= user 
                |  загрузил контент в задаче 
                span.notification-item__text_bold= task
            else 
              p.notification-item__text
                span.notification-item__text_bold= user 
                |  поручил вам новую задачу 
          p.date-time= date

            